In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/05/24 14:39:01 WARN Utils: Your hostname, Nguyen-Duc-Trung resolves to a loopback address: 127.0.1.1; using 192.168.130.52 instead (on interface eth0)
23/05/24 14:39:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/05/24 14:39:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.option("header", "true").parquet("../data/yellow_tripdata_2022-01.parquet")

In [4]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-01-01 07:35:40|  2022-01-01 07:53:29|            2.0|          3.8|       1.0|                 N|         142|         236|           1|       14.5|  3.0|    0.5|      3.65|         0.0|                  0.3|       21.95|                 2.5|        0.0|
|       1| 2022-01-01 07:33:43|  2022-01-01 07:42:07|            1.0|          2.1|       1.0|                 N|         236|          42|           1|        8.0|  0.5|    0.5|       4.0|         0.0|                  0.3|        13.3|                 0.0|        0.0|
|       2| 2022-01-01 07:53:21|  2022-01-01 08:02:19|            1.0|         0.97|       1.0|                 N|         166|         166|           1|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 0.0|        0.0|
|       2| 2022-01-01 07:25:21|  2022-01-01 07:35:23|            1.0|         1.09|       1.0|                 N|         114|          68|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2| 2022-01-01 07:36:48|  2022-01-01 08:14:20|            1.0|          4.3|       1.0|                 N|          68|         163|           1|       23.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        30.3|                 2.5|        0.0|
|       1| 2022-01-01 07:40:15|  2022-01-01 08:09:48|            1.0|         10.3|       1.0|                 N|         138|         161|           1|       33.0|  3.0|    0.5|      13.0|        6.55|                  0.3|       56.35|                 2.5|        0.0|
|       2| 2022-01-01 07:20:50|  2022-01-01 07:34:58|            1.0|         5.07|       1.0|                 N|         233|          87|           1|       17.0|  0.5|    0.5|       5.2|         0.0|                  0.3|        26.0|                 2.5|        0.0|
|       2| 2022-01-01 07:13:04|  2022-01-01 07:22:45|            1.0|         2.02|       1.0|                 N|         238|         152|           2|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|        0.0|
|       2| 2022-01-01 07:30:02|  2022-01-01 07:44:49|            1.0|         2.71|       1.0|                 N|         166|         236|           1|       12.0|  0.5|    0.5|      2.25|         0.0|                  0.3|       18.05|                 2.5|        0.0|
|       2| 2022-01-01 07:48:52|  2022-01-01 07:53:28|            1.0|         0.78|       1.0|                 N|         236|         141|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|        0.0|
|       2| 2022-01-01 07:55:03|  2022-01-01 08:04:25|            1.0|         1.91|       1.0|                 N|         141|         229|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-01-01 07:31:06|  2022-01-01 07:34:14|            3.0|         0.82|       1.0|                 N|         114|          90|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 07:41:07|  2022-01-01 07:44:46|            3.0|         0.73|       1.0|                 N|         234|         113|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 07:56:34|  2022-01-01 08:12:04|            2.0|         2.16|       1.0|                 N|         246|          79|           1|       11.5|  0.5|    0.5|      3.06|         0.0|                  0.3|       18.36|                 2.5|        0.0|
|       2| 2022-01-01 07:39:46|  2022-01-01 07:47:36|            4.0|         1.43|       1.0|                 N|          43|         140|           1|        7.5|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       2| 2022-01-01 07:58:06|  2022-01-01 08:05:45|            1.0|         1.58|       1.0|                 N|         239|         151|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       1| 2022-01-01 07:33:52|  2022-01-01 07:47:28|            3.0|          4.2|       1.0|                 N|         148|         141|           1|       14.0|  2.5|    0.5|      3.45|         0.0|                  0.3|       20.75|                 2.5|        0.0|
|       1| 2022-01-01 07:53:54|  2022-01-01 08:05:20|            2.0|          2.2|       1.0|                 N|         237|         107|           1|        9.5|  2.5|    0.5|      2.55|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       1| 2022-01-01 07:00:44|  2022-01-01 07:05:29|            1.0|          0.2|       1.0|                 N|           7|           7|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|                 0.0|        0.0|
|       1| 2022-01-01 07:35:50|  2022-01-01 07:48:33|            2.0|          3.9|       1.0|                 N|         107|         263|           1|       13.0|  3.0|    0.5|      3.35|         0.0|                  0.3|       20.15|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [5]:
#Check shape of the dataframe
print((df.count(), len(df.columns)))

(2463931, 19)

In [30]:
!wc -l ../data/yellow_tripdata_2022-01.parquet

122909 ../data/yellow_tripdata_2022-01.parquet

In [6]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [32]:
type(df)

pyspark.sql.dataframe.DataFrame

In [33]:
df.head(5)

[Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2022, 1, 1, 7, 35, 40), tpep_dropoff_datetime=datetime.datetime(2022, 1, 1, 7, 53, 29), passenger_count=2.0, trip_distance=3.8, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=142, DOLocationID=236, payment_type=1, fare_amount=14.5, extra=3.0, mta_tax=0.5, tip_amount=3.65, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=21.95, congestion_surcharge=2.5, airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2022, 1, 1, 7, 33, 43), tpep_dropoff_datetime=datetime.datetime(2022, 1, 1, 7, 42, 7), passenger_count=1.0, trip_distance=2.1, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=236, DOLocationID=42, payment_type=1, fare_amount=8.0, extra=0.5, mta_tax=0.5, tip_amount=4.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=13.3, congestion_surcharge=0.0, airport_fee=0.0),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2022, 1, 1, 7, 53, 21), tpep_dropoff_datetime=datetime.datetime(2022, 1, 1, 8, 2, 19), passenger_count=1.0, trip_distance=0.97, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=166, DOLocationID=166, payment_type=1, fare_amount=7.5, extra=0.5, mta_tax=0.5, tip_amount=1.76, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=10.56, congestion_surcharge=0.0, airport_fee=0.0),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2022, 1, 1, 7, 25, 21), tpep_dropoff_datetime=datetime.datetime(2022, 1, 1, 7, 35, 23), passenger_count=1.0, trip_distance=1.09, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=114, DOLocationID=68, payment_type=2, fare_amount=8.0, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=11.8, congestion_surcharge=2.5, airport_fee=0.0),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2022, 1, 1, 7, 36, 48), tpep_dropoff_datetime=datetime.datetime(2022, 1, 1, 8, 14, 20), passenger_count=1.0, trip_distance=4.3, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=68, DOLocationID=163, payment_type=1, fare_amount=23.5, extra=0.5, mta_tax=0.5, tip_amount=3.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=30.3, congestion_surcharge=2.5, airport_fee=0.0)]

In [7]:
#Repartition the dataframe to 10 partitions
df = df.repartition(10)

In [8]:
#Check the number of partitions
df.rdd.getNumPartitions()

10

In [37]:
#Check the size of each partition
df.rdd.glom().map(len).collect()

[246393,
 246393,
 246393,
 246393,
 246394,
 246393,
 246393,
 246393,
 246393,
 246393]

In [9]:
#Save the partitioned dataframe as parquet file
df.write.parquet("../partitions/yellow/2022/01/")

23/05/24 14:42:53 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/05/24 14:42:53 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/05/24 14:42:53 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers

23/05/24 14:42:56 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/05/24 14:42:56 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [10]:
sp_df = spark.read.parquet("../partitions/yellow/2022/01/")

In [14]:
type(sp_df)

pyspark.sql.dataframe.DataFrame

In [11]:
sp_df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

+--------------------+
|tpep_pickup_datetime|
+--------------------+
| 2022-01-06 03:20:08|
| 2022-01-19 20:05:25|
| 2022-01-21 21:08:46|
| 2022-01-12 16:38:33|
| 2022-01-28 22:16:55|
| 2022-01-05 02:08:23|
| 2022-01-28 20:04:17|
| 2022-01-09 19:14:32|
| 2022-01-11 17:11:30|
| 2022-01-15 00:51:41|
| 2022-01-11 00:21:41|
| 2022-01-06 00:53:02|
| 2022-01-25 04:23:48|
| 2022-01-28 02:38:50|
| 2022-01-28 18:56:48|
| 2022-01-08 15:51:10|
| 2022-01-10 14:37:50|
| 2022-01-29 01:46:58|
| 2022-01-13 21:34:24|
| 2022-01-10 07:22:38|
+--------------------+
only showing top 20 rows

In [16]:
#Create the duration column by subtracting the dropoff time from the pickup time
from pyspark.sql.functions import col, unix_timestamp, round

sp_df = sp_df.withColumn("duration", round((unix_timestamp(col("tpep_pickup_datetime")) - unix_timestamp(col("tpep_dropoff_datetime")))/60))

In [18]:
#Sort the dataframe by duration in descending order
sp_df.select("duration").sort(col("duration").desc()).show()

+--------+
|duration|
+--------+
|  3442.0|
|   121.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
|     1.0|
+--------+
only showing top 20 rows

In [19]:
#Count the number of row in duration column
sp_df.select("duration").count()

2463931

In [20]:
#Count the number of null values in duration column
sp_df.select("duration").filter(col("duration").isNull()).count()

0

In [21]:
#Display the distribution of duration column
sp_df.select("duration").describe().show()

+-------+-------------------+
|summary|           duration|
+-------+-------------------+
|  count|            2463931|
|   mean|-14.219502088329584|
| stddev|   46.4466802662856|
|    min|            -8513.0|
|    max|             3442.0|
+-------+-------------------+

In [22]:
#Remove the outliers from the duration column which are not belong to the range of 1 to 60 minutes
sp_df = sp_df.filter((col("duration") >= 1) & (col("duration") <= 60))

In [23]:
#Display the distribution of duration column again
sp_df.select("duration").describe().show()

+-------+--------+
|summary|duration|
+-------+--------+
|  count|     364|
|   mean|     1.0|
| stddev|     0.0|
|    min|     1.0|
|    max|     1.0|
+-------+--------+

This method doesn't work : filter not include duration less than 60mins
      "sp_df.filter((col("duration") >= 1) & (col("duration") <= 60))"

In [24]:
sp_df2 = spark.read.parquet("../partitions/yellow/2022/01/")

In [41]:
#Create the duration column by subtracting the dropoff time from the pickup time and convert it to minutes
sp_df2 = sp_df2.withColumn("duration", round((unix_timestamp(col("tpep_dropoff_datetime")) - unix_timestamp(col("tpep_pickup_datetime")))/60))

#Display the distribution of duration column
sp_df2.select("duration").describe().show()

+-------+------------------+
|summary|          duration|
+-------+------------------+
|  count|           2463931|
|   mean|14.219502088329584|
| stddev|  46.4466802662856|
|    min|           -3442.0|
|    max|            8513.0|
+-------+------------------+

In [42]:
#Count the number of data points which are not belong to the range of 1 to 60 minutes
sp_df2.filter((col("duration") < 1) | (col("duration") > 60)).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|duration|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+
|       2| 2022-01-19 03:36:24|  2022-01-19 03:36:39|            1.0|          0.0|       1.0|                 N|         193|         193|           1|        2.5|  0.5|    0.5|      0.95|         0.0|                  0.3|        4.75|                 0.0|        0.0|     0.0|
|       2| 2022-01-11 01:13:50|  2022-01-11 01:13:56|            4.0|          0.0|       5.0|                 N|         132|         132|           1|       75.0|  0.0|    0.0|     15.06|         0.0|                  0.3|       91.61|                 0.0|       1.25|     0.0|
|       2| 2022-01-04 02:22:24|  2022-01-04 02:22:28|            1.0|          0.0|       5.0|                 N|         264|         264|           2|        6.0|  0.0|    0.0|       0.0|         0.0|                  0.3|         6.3|                 0.0|        0.0|     0.0|
|       2| 2022-01-07 05:03:38|  2022-01-07 05:03:43|            1.0|         0.02|       1.0|                 N|         132|         132|           4|       -2.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -5.05|                 0.0|      -1.25|     0.0|
|       2| 2022-01-22 21:58:21|  2022-01-22 21:58:25|            1.0|          0.0|       5.0|                 N|          69|          69|           1|       45.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        45.3|                 0.0|        0.0|     0.0|
|       1| 2022-01-31 14:25:17|  2022-01-31 14:25:39|            1.0|          0.0|       1.0|                 N|         132|         132|           3|        0.0|  0.0|    0.0|       0.0|         0.0|                  0.0|         0.0|                 0.0|        0.0|     0.0|
|       1| 2022-01-27 22:20:22|  2022-01-27 23:24:10|            1.0|         17.0|       2.0|                 N|         233|         132|           2|       52.0|  2.5|    0.5|       0.0|        6.55|                  0.3|       61.85|                 2.5|        0.0|    64.0|
|       6| 2022-01-21 00:01:00|  2022-01-21 01:01:47|           null|         11.4|      null|              null|         265|          28|           0|      38.18|  0.0|    0.5|       0.0|         0.0|                  0.3|       38.98|                null|       null|    61.0|
|       1| 2022-01-02 16:47:38|  2022-01-02 16:47:49|            1.0|          0.0|       1.0|                 N|         141|         141|           4|        2.5|  2.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                 2.5|        0.0|     0.0|
|       6| 2022-01-06 19:01:16|  2022-01-06 19:01:14|           null|          1.6|      null|              null|         265|         142|           0|       29.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        30.0|                null|       null|     0.0|
|       6| 2022-01-13 16:01:24|  2022-01-13 16:01:47|           null|         3.24|      null|              null|         265|          41|           0|       15.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.0|                null|       null|     0.0|
|       2| 2022-01-28 17:23:23|  2022-01-28 18:25:13|            1.0|         4.17|       1.0|                 N|         142|          79|           2|       35.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        38.3|                 2.5|        0.0|    62.0|
|       1| 2022-01-09 08:28:46|  2022-01-09 08:28:52|            1.0|          0.0|       1.0|                 N|         164|         164|           1|        2.5|  3.0|    0.5|       6.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|     0.0|
|       1| 2022-01-04 15:28:48|  2022-01-04 15:29:02|            1.0|          0.0|       1.0|                 N|         145|         145|           2|        2.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         3.3|                 0.0|        0.0|     0.0|
|       2| 2022-01-11 20:50:56|  2022-01-11 20:51:02|            1.0|         0.06|       5.0|                 N|         132|         132|           1|       65.0|  0.0|    0.0|     13.06|         0.0|                  0.3|       78.36|                 0.0|        0.0|     0.0|
|       2| 2022-01-30 18:12:02|  2022-01-31 18:07:01|            1.0|          2.1|       1.0|                 N|         186|          43|           2|        9.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|  1435.0|
|       2| 2022-01-31 15:31:51|  2022-01-31 16:42:48|            1.0|        16.39|       2.0|                 N|         132|          48|           1|       52.0|  0.0|    0.5|       8.0|         0.0|                  0.3|       64.55|                 2.5|       1.25|    71.0|
|       2| 2022-01-01 18:56:41|  2022-01-01 18:56:47|            1.0|          0.0|       5.0|                 N|          56|          56|           2|       39.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        39.8|                 0.0|        0.0|     0.0|
|       2| 2022-01-20 00:22:45|  2022-01-20 01:25:02|            1.0|        15.61|       2.0|                 N|         264|         132|           1|       52.0|  4.5|    0.5|     13.27|        6.55|                  0.3|       79.62|                 2.5|        0.0|    62.0|
|       2| 2022-01-23 19:01:38|  2022-01-24 18:50:59|            5.0|         1.25|       1.0|                 N|         148|         231|           1|        8.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|  1429.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+
only showing top 20 rows

In [43]:
#Count the number of data points which are negative
sp_df2.filter(col("duration") < 0).count()

366

In [44]:

sp_df2.filter((col("duration") <= 60) & (col("duration") >= 1)).count()

2429609

In [45]:
#sort the dataframe by duration in descending order and display the first 5 rows
sp_df2.select("duration").sort(col("duration").desc()).show(5)

+--------+
|duration|
+--------+
|  8513.0|
|  7891.0|
|  7872.0|
|  4284.0|
|  4019.0|
+--------+
only showing top 5 rows

In [46]:
#sort the dataframe by duration in ascending order and display the first 5 rows
sp_df2.select("duration").sort(col("duration").asc()).show(5)

+--------+
|duration|
+--------+
| -3442.0|
|  -121.0|
|    -1.0|
|    -1.0|
|    -1.0|
+--------+
only showing top 5 rows