In [14]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder \
    .master("spark://Nguyen-Duc-Trung.:7077") \
    .appName('Spark') \
    .getOrCreate()

23/06/04 13:12:46 WARN Utils: Your hostname, Nguyen-Duc-Trung resolves to a loopback address: 127.0.1.1; using 192.168.130.52 instead (on interface eth0)
23/06/04 13:12:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/04 13:12:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df_green = spark.read.parquet('../data/green/2020/*.parquet')

In [5]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_green.show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2019-12-18 22:52:30|  2019-12-18 22:54:39|                 N|       1.0|         264|         264|            5.0|          0.0|        3.5|  0.5|    0.5|      0.01|         0.0|     null|                  0.3|        4.81|         1.0|      1.0|                 0.0|
|       2| 2020-01-01 07:45:58|  2020-01-01 07:56:39|                 N|       5.0|          66|          65|            2.0|         1.28|       20.0|  0.0|    0.0|      4.06|         0.0|     null|                  0.3|       24.36|         1.0|      2.0|                 0.0|
|       2| 2020-01-01 07:41:38|  2020-01-01 07:52:49|                 N|       1.0|         181|         228|            1.0|         2.47|       10.5|  0.5|    0.5|      3.54|         0.0|     null|                  0.3|       15.34|         1.0|      1.0|                 0.0|
|       1| 2020-01-01 07:52:46|  2020-01-01 08:14:21|                 N|       1.0|         129|         263|            2.0|          6.3|       21.0| 3.25|    0.5|       0.0|         0.0|     null|                  0.3|       25.05|         2.0|      1.0|                2.75|
|       1| 2020-01-01 07:19:57|  2020-01-01 07:30:56|                 N|       1.0|         210|         150|            1.0|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.3|         1.0|      1.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [7]:
df_yellow = spark.read.parquet('../data/yellow/2020/*.parquet')
df_yellow.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: integer (nullable = true)

In [8]:
#Change the column names : pickup_datetime, dropoff_datetime for the same columns in both dataframes 
df_green = df_green \
        .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime") \
        .withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

df_yellow = df_yellow \
        .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime") \
        .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [10]:
len(df_green.columns), len(df_yellow.columns)

(20, 19)

In [9]:
#find which columns are different
set(df_green.columns) - set(df_yellow.columns)

{'ehail_fee', 'trip_type'}

In [11]:
set(df_yellow.columns) - set(df_green.columns)

{'airport_fee'}

In [12]:
#Check the common columns between the two dataframes  
set(df_green.columns).intersection(set(df_yellow.columns))

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [13]:
#create a list of common columns
common_columns = list(set(df_green.columns).intersection(set(df_yellow.columns)))

In [15]:
#Add a new column to each dataframe to identify the company (yellow or green) : name column as service type
df_green_sel = df_green \
        .select(common_columns) \
        .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
        .select(common_columns) \
        .withColumn('service_type', F.lit('yellow'))

In [16]:
#Combine the two dataframes into one
df_trips = df_green_sel.unionAll(df_yellow_sel)

In [17]:
#Count the numbers of rows for each service type
df_trips.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 1734176|
|      yellow|24649092|
+------------+--------+

In [18]:
#Create temporary view for the dataframe df_trips in order to use SQL queries
df_trips.createOrReplaceTempView("trips_data")

In [19]:
spark.sql("""
SELECT 
    service_type,
    count(*) as count 
FROM 
    trips_data 
GROUP BY 
    service_type""") \
.show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 1734176|
|      yellow|24649092|
+------------+--------+

In [20]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone, -- Rename PULocationID column to revenue_zone
    date_trunc('month', pickup_datetime) AS revenue_month, -- Truncate pickup_datetime to month level
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare, -- Calculate monthly fare revenue
    SUM(extra) AS revenue_monthly_extra, -- Calculate monthly extra revenue
    SUM(mta_tax) AS revenue_monthly_mta_tax, -- Calculate monthly MTA tax revenue
    SUM(tip_amount) AS revenue_monthly_tip_amount, -- Calculate monthly tip revenue
    SUM(tolls_amount) AS revenue_monthly_tolls_amount, -- Calculate monthly tolls revenue
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge, -- Calculate monthly improvement surcharge revenue
    SUM(total_amount) AS revenue_monthly_total_amount, -- Calculate monthly total revenue
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge, -- Calculate monthly congestion surcharge revenue

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count, -- Calculate average monthly passenger count
    AVG(trip_distance) AS avg_montly_trip_distance -- Calculate average monthly trip distance
FROM
    trips_data -- Select data from trips_data
GROUP BY
    1, 2, 3 -- Group results by revenue_zone, revenue_month, and service_type
""")

In [ ]:
##Check the type of df_result

In [21]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         120|2020-01-01 00:00:00|       green|              675.73|                 5.25|                    7.0|                     21.97|                       12.24|                    8.099999999999998|           735.7899999999998|                                 5.5|        1.1666666666666667|       4.773870967741937|
|          82|2020-02-01 00:00:00|       green|  182273.22000000346|              8531.25|                 7508.5|         11217.70999999997|          1380.5999999999951|                    4746.300000001363|          216255.97999997713|                              646.25|        1.4281515349444807|       2.416850801172145|
|          61|2020-02-01 00:00:00|       green|    69594.5100000005|              6036.75|                  897.0|        1005.2199999999999|           763.9400000000004|                    999.5999999999423|           79668.26999999842|                               123.5|         1.231809401159047|      3.5324703891709013|
|          49|2020-01-01 00:00:00|       green|   57221.69000000019|               3434.0|                 1216.0|        2320.0099999999993|           545.9100000000004|                    975.5999999999434|           66482.90999999914|                              541.25|        1.1863782788771284|       3.541897852582717|
|         229|2020-01-01 00:00:00|       green|  2104.4799999999996|                132.0|                    8.5|                       0.0|                       82.36|                   19.500000000000025|          2346.8399999999997|                                 0.0|                       1.0|       7.569848484848484|
|          32|2020-01-01 00:00:00|       green|  16513.679999999964|              1120.75|                  113.0|         74.99999999999997|           902.1299999999998|                   176.10000000000096|           18906.50999999996|                                 5.5|        1.3095238095238095|       6.358454404945907|
|          14|2020-01-01 00:00:00|       green|   43968.03999999996|               2535.5|                  343.0|                     257.0|           1264.779999999997|                    410.1000000000098|           48833.01999999992|                               74.25|         1.074585635359116|       6.869150823827628|
|         128|2020-01-01 00:00:00|       green|  3261.3300000000004|                158.0|                   35.5|         82.25000000000001|          104.04000000000002|                    34.50000000000003|          3714.0200000000004|                                27.5|        1.0169491525423728|                 7.02328|
|          47|2020-02-01 00:00:00|       green|  13777.300000000023|               1174.0|                  123.5|         66.65999999999998|           452.8500000000003|                   174.30000000000084|          15791.310000000003|                                11.0|         1.160337552742616|      4.6813461538461505|
|          31|2020-02-01 00:00:00|       green|  1682.5600000000002|                 83.0|                   25.5|        107.82999999999998|           53.51999999999999|                   22.800000000000033|                     2002.71|                               30.25|        1.0526315789473684|       5.222682926829269|
|           3|2020-02-01 00:00:00|       green|   9683.390000000014|               845.25|                   46.0|                      1.68|          426.87000000000023|                   104.99999999999936|          11118.989999999989|                                 0.0|        1.4583333333333333|        6.04520325203252|
|         216|2020-02-01 00:00:00|       green|  19952.010000000068|               1261.5|                  110.5|        102.96000000000001|          430.37000000000035|                   196.20000000000164|          22060.990000000045|                                 5.5|        1.1807692307692308|       6.719897058823536|
|         237|2020-02-01 00:00:00|       green|   2697.990000000001|                187.0|                    4.0|                       0.0|          103.52000000000001|                    21.00000000000003|          3013.5099999999998|                                 0.0|                       1.0|       9.661428571428573|
|         222|2020-02-01 00:00:00|       green|   19495.53000000006|               1735.5|                   96.0|                     10.83|           527.0700000000003|                   176.10000000000093|           22041.03000000005|                                 0.0|        1.1714285714285715|      7.2664933135215515|
|         155|2020-01-01 00:00:00|       green|   24840.86000000007|              1786.25|                  210.5|                      9.01|          429.11000000000024|                    253.8000000000039|          27531.480000000036|                                 0.0|         1.243421052631579|       5.494228855721392|
|          28|2020-02-01 00:00:00|       green|            12186.73|               844.25|                   99.0|        107.81000000000002|          299.88000000000017|                   134.39999999999932|          13679.520000000024|                                 5.5|        1.2338308457711442|       5.838838174273858|
|          63|2020-01-01 00:00:00|       green|  13832.649999999994|                819.5|                  104.5|                      3.56|          414.62000000000023|                    134.6999999999994|          15309.530000000008|                                 0.0|        1.0909090909090908|       6.186488095238089|
|         244|2020-02-01 00:00:00|       green|  184399.38000000172|               6914.0|                 5089.0|        20090.329999999904|           3508.519999999973|                   3286.8000000005045|          231363.67999998527|                              9237.0|        1.3300858493296035|       4.284024029409136|
|          97|2020-02-01 00:00:00|       green|  152063.27999999933|               7239.5|                 5304.0|        15902.429999999915|          409.97000000000025|                     3444.90000000058|           186854.8800000027|                             2650.75|          1.19713531850735|      2.7002208852599967|
|         248|2020-01-01 00:00:00|       green|  11835.270000000026|                804.5|                  111.5|                    105.84|           541.3600000000004|                    142.7999999999997|          13552.620000000024|                                 5.5|        1.1893203883495145|       4.679119718309861|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [22]:
#Write the dataframe to a parquet file 
df_result.coalesce(1).write.parquet('../data/report/revenue-2020', mode='overwrite')